.card-skill {
  width: 120px;
  height: 140px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-right: 16px;
  margin-left: 16px;
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 1.1em;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}

.card-service {
  width: 320px;
  height: 400px;
  background-color: white;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
}

.card-service h4 {
  margin-top: 20px;
}

.card-service img {
  width: 240px;
}
