.logo-size {
  font-size: 56px;
}

.img-logo-size {
  margin-left: auto;
  margin-right: auto;
  height: 56px;
  width: 56px;
}

.ruby-logo {
  color: #CC342D;
}

.rails-logo {
  color: #BC251A;
}

.javascript-logo {
  color: #EFC724;
}

.html-logo {
  color: #DD4B25;
}

.css-logo {
  color: #2862EB;
}

.postgresql-logo {
  color: #31648C;
}

.bootstrap-logo {
  color: #543C79;
}

.heroku-logo {
  color: #645FA1;
}

.git-logo {
  color: #E94E32;
}
